!!!
%html
  %body
    %h2=Company.find_by_id(current_employer.id).company_name
    %form{ :action=> "/employer/edit_info/", :method=> "get"}
      %button{:onclick => "myFunction()", :type => "button"} latest company info
      :javascript
        function myFunction() { document.getElementById("mydiv").style.display = "block"; }
      %div#mydiv
        :css
          #mydiv {display:none;}
        -  c = Company.find_by_id(current_employer.id)
        -if c.nil?
          update your company info
        -else
          Address:
          %p=c.company_address
          %br/
          Website:
          %p=c.company_website
      %br/
      %br/
      %br/
      %br/
        

      
      Company name: 
      %input{ :type => "text", :name => "company_name"}     
      %br/
      Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %input{:type=> "text", :name=>"company_address"}
      %br/
      website:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %input{:type=> "text", :name=>"company_website"}
      %br/
      
      %input{ :type=>"submit", :value=>"update"}
    
    
   
    %a{ :href => "/employer"}back