%html
	%body
		%h2= Company.find(current_employer.id).company_name
		%h3 Asset Details
		
		%table
			%tr
				%th Asset
				%th Number
				%th Assigned to:
				%th Working condition
			%tr
				-Asset.where(employer_id: current_employer.id).find_each do |t|
					%td= t.asset_name
					%td= t.asset_number
					%td 
						-if t.employee_id==0
							un-assigned
						-else
							- e = Employee.where(id: t.employee_id)
							=e.name
					%td= t.working_condition
					%tr

		%a{:href => "/employer/assets/update"}Manage Assets
		%br/
		%a{:href => "/employer"}back