!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title signup
    %style
      body{ border: 1px solid black;margin:20px;}
      h2{margin-left:80px;}
      p1{
  %body
    %h2 SIGN UP 
    - flash.keys.each do |type|
      %div{:class => "flash #{type} alert-box radius", "data-alert" => ""}
        = flash[type]
        %a.close{:href => "#"} 
    -if flash[:warning]
      - flash[:warning]
    -if flash[:msg]
      - flash[:msg]
    %form{:action => "/login/new_employer", :method => "get"}
      %p1
        Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %input{:name => "name", :type => "text"}
        %br/
        email ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %input{:name => "email", :type => "email"}
        %br/
        
        
      %p2
        password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %input{:name => "password", :type => "password"}
        %br/
      %p3
        confirm password:
        %input{:name => "password_confirmation", :type => "password"}
        %br/
      %p4
        Company name: &nbsp;&nbsp;&nbsp;&nbsp;
        %input{:name => "company_name", :type => "text"}
        %br/
        %br/
      %input{:type => "submit", :value => "Submit"}