<html>
  <head><title>signup</title>
  <style>
  	body{ border: 1px solid black;margin:20px;}
  	h2{margin-left: 80}
  </style></head>
  <body><pre>
    <h2 >SIGN UP</h2>
    <form action="/signedup" method="post">
	  Name:             <input type="text" name="name"><br>
	  username:         <input type="text" name="uname"><br>
	  password:         <input type="password" name="pword"><br>
	  confirm password: <input type="password" name="pword1"><br>
	  email ID:         <input type="email" name="mail"><br>
	  <input type="submit" value="Save">
	</form></pre>
  <body/>
<html/>