<h1>LOGIN</h1>
<form action="/users/login" method= 'post'>
  Email:<br>
  <input type="email" name="email">
  <br>
  Password:<br>
  <input type="password" name="password"><br>
  <input type='submit' value = "Login">

</form>
<br/>

<%= link_to 'Signup', new_user_path %>